<!DOCTYPE html>
<html lang="en">
<head>

    <!--meta tags-->
    <meta charset="UTF-8">

    <!--links-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <link rel="shortcut icon" href="../../../links/image/avocado-png-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../links/style/fixed-properties.css">
    <link rel="stylesheet" href="../../../links/style/general-style-administrator.css">
    <link rel="stylesheet" media="screen and (color)" href="../../../links/style/media-queries/general-style-administrator-media-phone.css">
    <link rel="stylesheet" media="screen and (color)" href="../../../links/style/media-queries/general-style-administrator-media-middle.css">
    <script src="../../../links/scripts/administrator-script.js"></script>

    <!--Another-->
    <title id="title">{{message}}</title>

</head>
<body class="image-block wallpaper-block">

<!--topbar-->
<div class="horizon-display-center topbar-content-block">
    <div class="image-block logotype-block"></div>
    <p class="text-black text-size-hard gilroy-bold topbar-service-name"> Авокадо</p>
    <p class="button-form text-size-easy text-white gilroy-medium">Выйти</p>
</div>

<!--general-->
<div class="general-content-block horizon-display-center">

    <!--refactor-->
    <div class="refactor-block vertical-display-around" id="user-refactor">
        <record-admin></record-admin>
    </div>

    <div class="vertical-display-around chooser-creation-table-block-for-media">

        <!--chooser-->
        <div class="block-around-selection vertical-display-center">
            <div class="select-form vertical-display-center">
                <p class="option-form text-green text-size-easy gilroy-bold">Выберите тип таблицы</p>
                <p class="option-form text-green text-size-easy gilroy-medium">Заказы</p>
                <p class="option-form text-green text-size-easy gilroy-medium">Заявки пользователей</p>
                <p class="option-form text-green text-size-easy gilroy-medium">Пользователи</p>
                <p class="option-form text-green text-size-easy gilroy-medium">Типы заказов</p>
            </div>
        </div>

        <!--creation-->
        <form class="home-form home-form-background-special-two vertical-display-around">
            <p class="gilroy-medium text-size-hard text-white send-us-text">Добавьте тип задачи</p>
            <input class="input-form text-size-easy text-black" placeholder="Название типа">
            <textarea class="textarea-form text-size-easy text-black" placeholder="Подробнее"></textarea>
            <p class="button-form-in-creation text-size-easy text-white gilroy-medium">Добавить</p>
        </form>

        <!--table-->
        <div class="block-around-table horizon-display-between" id="table">
            <div class="special-icon image-block"></div>
        </div>
    </div>
</div>

<!--footer-->
<div class="horizon-display-center footer-content-block">
    <p class="text-grey text-size-easy gilroy-bold footer-service-producer" id="place">© Melnik 2020 - {{ message }}</p>
</div>

<script>

    /*Типы заказов*/
    var typeOrder = Vue.component('order-type', {
        data: function () {
            return {
                id: '',
                type: '',
                description: '',
                existence: true,
            }
        },
        methods: {
            setType (id_, type_, description_) {
                this.id = id_;
                this.type = type_;
                this.description = description_;
            },
            deleteType(){
                this.existence = false;
            }
        },
        template: '<div v-if="existence" class="record vertical-display-between"> \n' +
            '<div class="record-information-block"> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Номер типа: {{id}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Тип заказа: {{type}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Подробнее: {{description}}</p> \n' +
            '</div> \n' +
            '<div> \n' +
            '<p @click="deleteType()" class="button-record text-size-easy text-white gilroy-medium">Удалить</p> \n' +
            '</div> \n' +
            '</div>',
    })

    /*Заказы*/
    var order = Vue.component('order', {
        data: function () {
            return {
                id: '',
                type: '',
                urgency: 'срочно',
                executor: '',
                customer: '',
                openDate: '',
                closeDate: '',
                description: '',
                existence: true,
            }
        },
        methods: {
            setRecord (id_, type_, urgency_, executor_, customer_, openDate_, closeDate_, description_) {
                this.id = id_;
                this.type = type_;
                this.urgency = urgency_;
                this.executor = executor_;
                this.customer = customer_;
                this.openDate = openDate_;
                this.closeDate = closeDate_;
                this.description = description_;
            },
            setUrgency (urgency_) {
                if (urgency_ == "срочно") {
                    return "indianred"
                };
                if (urgency_ == "сегодня") {
                    return "steelblue"
                };
            },
        },
        template: '<div v-if="existence" class="record vertical-display-between"> \n' +
            '<div class="record-information-block"> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Заказ номер: {{id}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Категория заказа: {{type}}</p> \n' +
            '<p v-bind:style="{color: setUrgency(urgency)}" class="gilroy-regular text-green text-size-easy information-media">Степень срочности: {{urgency}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Исполнитель: {{executor}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Заказчик: {{customer}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Дата начала: {{openDate}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Дата завершения: {{closeDate}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Подробно: {{description}}</p> \n' +
            '</div> \n' +
            '</div>',
    })

    /*Запись user active*/
    var recordUserActive = Vue.component('record-user-active', {
        data: function () {
            return {
                login: '',
                organisation: '',
                adminLogin: '',
                password: '',
                date: '',
                firstName: '',
                lastName: '',
                patronymic: '',
                phone: '',
                cabinet: '',
                floor: '',
                rating: '',
                photo: '',
                existence: true,
            }
        },
        methods: {
            setLogin (login_, organisation_, adminLogin_, password_, date_, firstName_, lastName_, patronymic_, phone_, cabinet_, floor_, rating_, photo_) {
                this.login = login_;
                this.organisation = organisation_;
                this.adminLogin = adminLogin_;
                this.password = password_;
                this.date = date_;
                this.firstName = firstName_;
                this.lastName = lastName_;
                this.patronymic = patronymic_;
                this.phone = phone_;
                this.cabinet = cabinet_;
                this.floor = floor_;
                this.rating = rating_;
                this.photo = photo_;
            },
            deleteRecord () {
                this.existence = false;
            },
        },
        template: '<div v-if="existence" class="record vertical-display-between"> \n' +
            '<div class="user-icon image-block"></div> \n' +
            '<div class="record-information-block"> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Логин: {{login}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Логин организации: {{organisation}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Логин администратора: {{adminLogin}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Пароль: {{password}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Дата регистрации: {{date}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Имя: {{firstName}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Фамилия: {{lastName}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Отчество: {{patronymic}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Телефон или email: {{phone}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Кабинет: {{cabinet}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Этаж: {{floor}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Рейтинг: {{rating}}</p> \n' +
            '</div> \n' +
            '<div>\n' +
            '<p @click="deleteRecord()" class="button-record text-size-easy text-white gilroy-medium">Удалить учетную запись</p>\n' +
            '</div>\n' +
            '</div>',
    })

    /*Запись user inactive в block-around-table*/
    var recordUserInactive = Vue.component('record-user-inactive', {
        data: function () {
            return {
                login: '',
                organisation: '',
                adminLogin: '',
                password: '',
                date: '',
                firstName: '',
                lastName: '',
                patronymic: '',
                phone: '',
                cabinet: '',
                floor: '',
                rating: '',
                photo: '',
                existence: true,
            }
        },
        methods: {
            setLogin (login_, organisation_, adminLogin_, password_, date_, firstName_, lastName_, patronymic_, phone_, cabinet_, floor_, rating_, photo_) {
                this.login = login_;
                this.organisation = organisation_;
                this.adminLogin = adminLogin_;
                this.password = password_;
                this.date = date_;
                this.firstName = firstName_;
                this.lastName = lastName_;
                this.patronymic = patronymic_;
                this.phone = phone_;
                this.cabinet = cabinet_;
                this.floor = floor_;
                this.rating = rating_;
                this.photo = photo_;
            },
            deleteRecord () {
                this.existence = false;
            }
        },
        template: '<div v-if="existence" class="record vertical-display-between"> \n' +
            '<div class="user-icon image-block"></div> \n' +
            '<div class="record-information-block"> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Логин: {{login}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Логин организации: {{organisation}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Логин администратора: {{adminLogin}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Пароль: {{password}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Дата регистрации: {{date}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Имя: {{firstName}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Фамилия: {{lastName}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Отчество: {{patronymic}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Телефон или email: {{phone}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Кабинет: {{cabinet}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Этаж: {{floor}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Рейтинг: {{rating}}</p> \n' +
            '</div> \n' +
            '<div>\n' +
            '<p @click="deleteRecord()" class="button-record text-size-easy text-white gilroy-medium">Подтвердить аккаунт</p>\n' +
            '<p @click="deleteRecord()" class="button-record text-size-easy text-white gilroy-medium">Удалить учетную запись</p>\n' +
            '</div>\n' +
            '</div>',
    })

    /*Запись admin в block-around-table*/
    var recordAdmin = Vue.component('record-admin', {
        data: function () {
            return {
                login: '',
                organisation: '',
                password: '',
                date: '',
                firstName: '',
                lastName: '',
                patronymic: '',
                phone: '',
                photo: '',
            }
        },
        methods: {
            setLogin (login_, organisation_, password_, date_, firstName_, lastName_, patronymic_, phone_, photo_) {
                this.login = login_;
                this.organisation = organisation_;
                this.password = password_;
                this.date = date_;
                this.firstName = firstName_;
                this.lastName = lastName_;
                this.patronymic = patronymic_;
                this.phone = phone_;
                this.photo = photo_;
            },
        },
        template: '<div class="record vertical-display-between"> \n' +
            '<div class="user-icon image-block"></div> \n' +
            '<div class="record-information-block"> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Логин: {{login}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Логин организации: {{organisation}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Пароль: {{password}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Дата регистрации: {{date}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Имя: {{firstName}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Фамилия: {{lastName}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Отчество: {{patronymic}}</p> \n' +
            '<p class="gilroy-regular text-green text-size-easy information-media">Телефон или email: {{phone}}</p> \n' +
            '</div> \n' +
            '</div>',
    })

    /*Инициализация user*/
    new Vue ({el: '#user-refactor'})

    /*Инициализация компонента таблицы*/
    new Vue ({el: "#table"})

    /*title*/
    new Vue({
        el: '#title',
        data: {
            message: "Имя администратора",
        },
        methods: {
            setName (message_) {
                this.message = message_;
            },
        },
    })

    /*Дата для Футера*/
    new Vue({
        el: '#place',
        data: {
            message: new Date().getFullYear(),
        },
    })
</script>
</body>
</html>