@media only screen and (max-width : 480px) {

    /*Топбар*/
    .topbar-content-block {
        height: 15vw;
    }
    .logotype-block {
        background-image: url("../../image/avocado-png-logo.png");
        width: 11vw;
        height: 11vw;
    }

    /*Авокадо*/
    .topbar-service-name {
        font-size: 5vw;
    }

    /*Костыль*/
    .between-forms-block{
        width: 10%;
        height: 10vw;
    }

    /*Футер*/
    .footer-content-block {
        height: 15vw;
    }

    /*Melnik*/
    .footer-service-producer {
        font-size: 3vw;
    }

    /*Главный блок*/
    .general-content-block {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30vw 0 20vw 0;
        /*background-color: #c9d6cb;*/
    }


    /*Форма*/
    .home-form {
        width: 69vw;
        border-radius: 3vw;
        padding: 4.5vw;
    }
    .send-us-text {
        font-size: 6vw;
    }

    /*Класс иконки входа*/
    .go-in-block {
        width: 18vw;
        height: 18vw;
    }

    /*Треи выбора*/
    .select-form {
        padding: 0 3vw 0 3vw;
        border-radius: 3vw;
        margin: 2vw 0 1vw 0;
    }
    .option-form {
        font-size: 3vw;
    }
    .input-form {
        height: 7vw;
        margin: 2.1vw;
        padding: 0 3vw 0 3vw;
        border-radius: 2vw;
        font-size: 3vw;
    }
    .input-form::placeholder {
        font-size: 3vw;
    }
    .input-form:focus {
        border-radius: 1vw;
    }
    .textarea-form {
        height: 36vw;
        margin: 2.1vw;
        padding: 3vw 3vw 0 3vw;
        border-radius: 3vw;
        font-size: 3vw;
    }
    .textarea-form::placeholder{
        font-size: 3vw;
    }
    .textarea-form:focus {
        border-radius: 1.5vw;
    }
    .button-form {
        margin: 2.1vw;
        padding: 3vw 15vw 3vw 15vw;
        border-radius: 3vw;
        font-size: 3vw;
    }
}